<ion-header>
  <ion-toolbar color="primary">
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <img src="/assets/svg/undraw_Mobile_application_mr4r.svg" />
          <ion-card-header>
            <ion-card-subtitle>Guest account</ion-card-subtitle>
            <ion-card-title>{{ uid }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore rem itaque et dolorum, enim aliquam illum odit tenetur doloremque voluptatum! Similique eius mollitia iure dignissimos in alias impedit. Laborum, ipsa?
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
